body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
    background: white;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

button {
    border: none; /* Remove default button border. */
    border-radius: 5px; /* Rounded corners. */
    cursor: pointer; /* Change cursor to pointer. */
    position: relative; /* Position for absolute child elements. */
    padding: 0; /* Remove default padding. */
    display: flex; /* Use flexbox for layout. */
    align-items: center; /* Center vertically. */
    justify-content: center; /* Center horizontally. */
    width: 150px; /* Set button width. */
    height: 50px; /* Set button height. */
    overflow: hidden; /* Hide overflow. */
    margin: 20px; /* Space around buttons. */
}

.button-container {
    display: flex;
    justify-content: center; /* Center buttons horizontally. */
    margin-top: 20px; /* Add some space above. */
}


.button-image {
    width: 100%; /* Image takes full width. */
    height: 100%; /* Image takes full height. */
    object-fit: cover; /* Maintain aspect ratio. */
    position: absolute; /* Position image absolutely. */
    top: 0;
    left: 0;
}

span {
    position: relative; /* Position text relative to button. */
    color: black; /* Text color. */
    z-index: 1; /* Ensure text is above the image. */
    font-size: 16px; /* Adjust text size. */
}

.result {
    margin-top: 20px;
    font-size: 20px;
    font-weight: bold;
}

.character-image {
    width: 100px;
    height: auto;
    margin-top: 10px;
}

.summoned-characters {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #f9f9f9;
}

/* Media query to make it responsive on tablet devices. */
@media (max-width: 768px) {
    .summoned-character {
        flex: 1 0 45%; /* On tablets, two images per row. */
        max-width: 125px; /* Smaller max width. */
    }
}

/* Media query to make it responsive on mobile devices. */
@media (max-width: 480px) {
    button {
        height: 40px; /* Adjust button height for smaller screens */
    }

    .character-image {
        width: 80px; /* Adjust character image size */
    }
}